@page "/"

<PageTitle>Home</PageTitle>

<section class="hero-container">
    <div class="hero-content">
        <img src="/images/hero.jpg" class="hero-img">
        <div class="hero-overlay">
            <h2>Hello Admin!</h2>
            <p>The next Scottish bank holiday is <strong>{holiday}</strong> on <strong>{date}</strong>.</p>
        </div>
    </div>
</section>